

/* html {
    height: 100%;
} */

body {
    
    min-height: 500px;
    background-color:white;
    background-image:url(images/SpaceBack-vincenzo-malagoli-unsplash.jpg);
    image-rendering: crisp-edges;
    background-size:cover ;
    background-repeat:no-repeat;
    background-position:center;
    
}

.container {
    
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    color: black;
    width: 1024px;
}


header {
    
    padding-top: 10px;
    text-align: center;
    background-attachment: fixed;
}

h1 a { 
    box-sizing: border-box;
    border-collapse: separate;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 1.8rem; 
    
    
}

main {
    
    background-image: linear-gradient(to right,rgb(24, 26, 24), white, rgb(24, 26, 24));
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-size: cover;
    margin-bottom: 200px;
}

img {

    border-radius: 50px;
    opacity: 60%;
}

.Obama-text {
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.281);
    width:auto;
    height: auto;
    border-radius: 50px;
}
i {
    font-size: 50px;
    margin-bottom: 50px;
}







